* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    flex-grow: 1;
    align-items: center;

}
header >h1 {
    background-color: rgb(129, 127, 127);
    padding: 5px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid black;

}
header > div {    
    margin-right: 20px;
    
}
header > div > button {
    margin-left: 10px;
    padding: 5px;
    height: 40px;
    background-color: #97ce4c;
    border-radius: 5px;
    border: 1px solid black;
}   
section {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    align-items: center; 
    background-color: white;   
}
section > h2 {
    padding: 10px;
    width: 300px;
    height: 40px;
    background-color: #f0e14a;
    border-radius: 5px;

}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: large;
    flex-grow: 6;

}
main > div > p {
    background-color: #f0e14a;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    width: 300px;
    border-radius: 5px;
    
}
main > div > button {
    margin-right: 150px;
    background-color: #97ce4c;
    border-radius: 5px;

}
main > img {
    display: flex;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: white;
    justify-content: space-between;
}
