* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    flex-grow: 1;
    align-items: center;

}
header >h1 {
    background-color: rgb(129, 127, 127);
    padding: 5px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: ;

}
header > div {    
    margin-right: 20px;
    
}
header > div > button {
    margin-left: 10px;
    padding: 5px;
    height: 40px;
    background-color: #39FF14;
    border-radius: 5px;
    box-shadow: green 2px 2px 5px; 
    border: none;

}   
section {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    align-items: center; 
    background-color: #2C2C2C;   
}
section > h2 {
    padding: 10px;
    width: 300px;
    height: 40px;
    background-color: #7a7979;
    border-radius: 5px;
    color: #39FF14;

}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: large;
    flex-grow: 6;
    background-color: white;
    margin-top: 20px;

}
main > div > p {
    background-color: #7a7979;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 105px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    color: #39FF14;
    
}
main > div > button {
    margin-right: 150px;
    background-color: #39FF14;
    border-radius: 5px; 
    height: 50px;
    width: 100px;
    font-size: x-large;
    box-shadow: #7a7979 2px 2px 5px; 
    border: none;

}
main > img {
    display: flex;
    padding: 25px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: #7a7979;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: #7a7979 2px 2px 5px;
    margin-right: 25px;
}
